.projects {
  display: flex;
  width: 100%;
  column-gap: 1.6rem; // Add gap between columns
}

.masonryGridColumn {
  background-clip: padding-box;
}

.projectImage {
  margin-bottom: 1.6rem; // Add margin between items
  background: var(--background);
  cursor: pointer;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0.4rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  &:hover img {
    transform: scale(1.05); // Slight zoom on hover
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Add shadow on hover
  }
}
